pkgbase = masterpdfeditor
	pkgdesc = A complete solution for viewing, creating and editing PDF files
	pkgver = 5.6.80
	pkgrel = 1
	epoch = 100
	url = https://code-industry.net/free-pdf-editor/
	arch = x86_64
	license = custom
	makedepends = patchelf
	source_x86_64 = master-pdf-editor-5.6.80-qt5.x86_64.tar.gz
	source_x86_64 = masterpdfeditor5.desktop
	sha256sums_x86_64 = 9fbda562095ddaca973af73aaefd51f8e46dc30e215469bb5183958a60dae207
	sha256sums_x86_64 = fa380da45926166ba8fe474276fe309eeae7187906f5e2c1e0f18a8863af6b1a

pkgname = masterpdfeditor
	depends = libgl
	depends = nspr
	depends = nss
	depends = qt5-base
	depends = qt5-svg
	depends = sane
	depends = util-linux
